<section class="banner full">
	<article>
		<img src="/images/slide01.jpg" alt="" />
		<div class="inner">
			<header>
				<p>Post your school question</p>
			</header>
		</div>
	</article>
	<article>
		<img src="/images/slide02.jpg" alt="" />
		<div class="inner">
			<header>
				<p>Get solutions in less than 5 minutes</p>
			</header>
		</div>
	</article>
</section>